-e git+https://github.com/Bhargavvvv2912/face_recognition_AURA@568091a4a90a7fcddefddd928168455f9b709686#egg=face_recognition
click==8.3.1
dlib==20.0.1
face_recognition_models==0.3.0
numpy==2.4.4
pillow==12.1.1
scipy==1.17.1