-e git+https://github.com/Bhargavvvv2912/face_recognition_AURA@871663f0f7ea5fad30eb67c1df1bbe2bff4b62da#egg=face_recognition
click==8.3.1
dlib==20.0.0
face_recognition_models==0.3.0
numpy==2.4.2
pillow==12.1.1
scipy==1.17.1