-e git+https://github.com/Bhargavvvv2912/face_recognition_AURA@05ec67cde37e97e09fd186479b0ae364a44e1ed8#egg=face_recognition
click==8.4.1
dlib==20.0.1
face_recognition_models==0.3.0
numpy==2.4.6
pillow==12.2.0
scipy==1.17.1